.u-folderBenefits .u-lHeader{
	background-image:url(../images/headers/Vassar_HolidayParty_20181212_KR_9836.jpg)
}
.u-folderContact .u-lHeader{
	background-image:url(../images/headers/Baldwin-Hall-fall-1010-TT-8613.jpg)
}
.u-folderEmployment .u-lHeader{
	background-image:url(../images/headers/Vassar_HolidayParty_20181212_KR_9907.jpg)
}
.u-folderPolicies .u-lHeader{
	background-image:url(../images/headers/0010-19-03-kr-epi-fitzgerald-vassar-8290.jpg)
}
.u-folderProfessional-development .u-lHeader{
	background-image:url(../images/headers/0010-19-03-kr-epi-fitzgerald-vassar-8198.jpg)
}
.u-lHeader{
	background-image:url(../images/headers/Main-Building-summer-MFi.jpg)
}
 .u-ArticleListItem__title {
	 font-size: 1.1rem !important;
}
 a.u-ArticleListItem__link {
	 font-size: 1.1rem;
}
 .Row h2, h3, h4 {
	 scroll-margin-top: 2em;
}
.RowContainer.NewsGrid {
    padding-top: 0;
}
.NewsGrid {
    .Row {
        border-top: solid 1px #dfdcda;
        padding: 3% 0;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        .Module__listItem {
            margin: 0 0 2%;
            padding: 0 0 2%;
            border-bottom: dashed 1px #dfdcda;
            list-style: none;
        }
    }
    .Module--stories {
        padding: 0;
        margin: 3% auto 2em;
        background-color: #f8f7f6;
        border: 1px solid #dfdcda;
        .u-Figure,
        .u-ArticleListItem__thumbnail,
        .u-ArticleListItem {
            margin: 0 !important;
        }
        .u-ArticleListItem__thumbnail {
            width: 100%;
        }
        .u-ArticleListItem__link {
            display: flex;
            flex-direction: column-reverse;            
        }
    }
    .Module--events-news {
        .dates b {
            font-style: italic !important
        }
        .dateMonth {
            margin-right: .25em
        }
        .dateThrough {
            margin: 0 .25em
        }
        .dateTime:before {
            content: ", "
        }
        .dateYear {
            visibility: hidden
        }
    }
    .Module__title {
        display: inherit;
        font-family: inherit;
        font-size: 90%;
        letter-spacing: 0;
        line-height: 1.2;
        margin-bottom: 0;
        padding-top: 0;
        text-align: left;
        text-transform: none;
    }
    a:link {
        border-bottom: none;
    }
}
@media screen and (min-width: 35em) {
    .NewsGrid {
        .Row {
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .Module--stories {
            width: 38%;
            margin: 0;
        }
        .Module--events-news {
            width: 56%;
            border-left: 1px solid #dfdcda;
            padding-left: 2%;
        }
    }
}