.u-lHeader {
    background-image: url(../images/headers/Main-Building-summer-MFi.jpg);
}
.u-folderProfessional-development .u-lHeader {
    background-image: url(../images/headers/0010-19-03-kr-epi-fitzgerald-vassar-8198.jpg);
}
.u-folderBenefits .u-lHeader {
    background-image: url(../images/headers/Vassar_HolidayParty_20181212_KR_9836.jpg);
}
.u-folderPolicies .u-lHeader {
    background-image: url(../images/headers/0010-19-03-kr-epi-fitzgerald-vassar-8290.jpg);
}
.u-folderEmployment .u-lHeader {
    background-image: url(../images/headers/Vassar_HolidayParty_20181212_KR_9907.jpg);
}
.u-folderContact .u-lHeader {
    background-image: url(../images/headers/Baldwin-Hall-fall-1010-TT-8613.jpg);
}
.u-ArticleListItem__title {
    color: #861f41
}
.u-ArticleListItem__title:visited {
    color: #666
}
.u-ArticleListItem__title:hover {
    color: #ED6707
}
.u-ArticleListItem__title:active {
    color: #cc0000
}
/* central? */
.modulesArea__row--onecol .Module--mainContent {
    margin-left: auto;
    margin-right: auto;
    width: 53.6rem;
}